:root {
    --darkblue: #1C5379;
    --blue: #0078A4;
    --lightblue: #A6D3EB;
    --white: #F1F7E5;
    --accent: #E5901A;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    margin: 0;
}

body {
    background: var(--blue);
    height: 100vh;
}

section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    height: 90%;
    width: fit-content;
    margin: auto;
    padding: 20px;
}

h1, h2, p {
    color: var(--white);
    text-align: center;
}

/* SETUP STYLES */
.setup-container { display: flex }

.quiz-setup-form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    max-width: 500px;
    color: var(--white);
}

#setup-header {
    font-size: 4rem;
}

#setup-text {
    font-size: 2rem;
}

#name,
#quiz-length,
#quiz-type {
    font-size: 1.75rem;
    padding: .5em 1em;
    border-radius: 3px;
    border: none;
    margin-bottom: 3em;
}

.setup-container h1,
.setup-container p,
.setup-container input,
.setup-container select {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

/* BUTTONS */

#start-btn,
#restart {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 15px;
    width: fit-content;
    padding: .5em 1.5em;
    border: none;
    color: var(--white);
    background-color: var(--accent);
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

#start-btn:hover,
#restart:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 5px rgba(61, 61, 61, .5);
}

/* SPINNER */
.spinner-container {
    display: none;
    width: 50%;
}

#spinner {
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* QUIZ STYLES */
#question-display {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
}

.quiz-container {
    display: none;
    justify-content: space-around;
}

#player-score-display {
    font-size: 4rem;
}

#question-count {
    font-size: 1.5rem;
}

.answer {
    font-size: 3rem;
    background-color: var(--darkblue);
    padding: .5em;
    border-radius: 3px;
    margin-bottom: 10px;
}

.answer:hover {
    cursor: pointer;
    opacity: .85;
}

.show-correct {
    background-color: rgb(62, 165, 62);
    box-shadow: 0 0 5px rgba(61, 61, 61, .5);
}

.show-incorrect {
    background-color: rgb(211, 39, 39);
    box-shadow: 0 0 5px rgba(61, 61, 61, .5);
}

/* QUIZ RESULTS STYLES */

.quiz-results-container {
    display: none;
    justify-content: space-around;
}

#results-header,
#results-score {
    font-size: 3.5rem;
}